.Login {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    form {
        max-width: 95vw;
        width: 50rem;
        min-width: 200px;
        padding: 2rem 4rem;
    }
}
